---
layout: default
---

<div class="posts">

    <h1>Contact me:</h1>
    
    {% if site.footer-links.dribbble %}
        <div class="contact_info"><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="_blank">
            On Dribble <i class="svg-icon dribbble"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.email %}
        <div class="contact_info"><a href="mailto:{{ site.footer-links.email }}" target="_blank">
            <i class="svg-icon email"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.facebook %}
        <div class="contact_info"><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank">
            <i class="svg-icon facebook"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.flickr %}
        <div class="contact_info"><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank">
            <i class="svg-icon flickr"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.github %}
        <div class="contact_info"><a href="https://github.com/{{ site.footer-links.github }}" target="_blank">
            <i class="svg-icon github"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.instagram %}
        <div class="contact_info"><a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank">
            <i class="svg-icon instagram"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.linkedin %}
        <div class="contact_info"><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">
            <i class="svg-icon linkedin"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.pinterest %}
        <div class="contact_info"><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank">
            <i class="svg-icon pinterest"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.twitter %}
        <div class="contact_info"><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank">
            <i class="svg-icon twitter"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.stackoverflow %}
        <div class="contact_info"><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank">
            <i class="svg-icon stackoverflow"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.youtube %}
        <div class="contact_info"><a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank">
            <i class="svg-icon youtube" ></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.googleplus %}
        <div class="contact_info"><a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank">
            <i class="svg-icon googleplus"></i>
        </a></div>
    {% endif %}
    {% if site.footer-links.rss %}
        <div class="contact_info"><a href="{{ site.baseurl }}/atom.xml" target="_blank">
            <i class="svg-icon rss"></i>
        </a></div>
    {% endif %}

</div>