---
layout: default
---

<div class="posts">

    <h1>Contact me</h1>
    
    {% if site.footer-links.dribbble %}
        <div class="contact_info"><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="_blank">
            On Dribble: https://dribbble.com/{{ site.footer-links.dribbble }}
        </a></div>
    {% endif %}
    {% if site.footer-links.email %}
        <div class="contact_info"><a href="mailto:{{ site.footer-links.email }}" target="_blank">
            By mail: {{ site.footer-links.email }}
        </a></div>
    {% endif %}
    {% if site.footer-links.facebook %}
        <div class="contact_info"><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank">
            On facebook: https://www.facebook.com/{{ site.footer-links.facebook }}
        </a></div>
    {% endif %}
    {% if site.footer-links.flickr %}
        <div class="contact_info"><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank">
            On Flickr: https://www.flickr.com/{{ site.footer-links.flickr }}
        </a></div>
    {% endif %}
    {% if site.footer-links.github %}
        <div class="contact_info"><a href="https://github.com/{{ site.footer-links.github }}" target="_blank">
            On github: https://github.com/{{ site.footer-links.github }}
        </a></div>
    {% endif %}
    {% if site.footer-links.instagram %}
        <div class="contact_info"><a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank">
            On Instagram: https://instagram.com/{{ site.footer-links.instagram }}
        </a></div>
    {% endif %}
    {% if site.footer-links.linkedin %}
        <div class="contact_info"><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">
            Linked In: https://www.linkedin.com/in/{{ site.footer-links.linkedin }}
        </a></div>
    {% endif %}
    {% if site.footer-links.pinterest %}
        <div class="contact_info"><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank">
            On Pinterest: https://www.pinterest.com/{{ site.footer-links.pinterest }}
        </a></div>
    {% endif %}
    {% if site.footer-links.twitter %}
        <div class="contact_info"><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank">
            On Twitter: https://www.twitter.com/{{ site.footer-links.twitter }}
        </a></div>
    {% endif %}
    {% if site.footer-links.stackoverflow %}
        <div class="contact_info"><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank">
            On Stackoverflow: http://stackoverflow.com/{{ site.footer-links.stackoverflow }}
        </a></div>
    {% endif %}
    {% if site.footer-links.youtube %}
        <div class="contact_info"><a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank">
            On Youtube: https://youtube.com/{{ site.footer-links.youtube }}
        </a></div>
    {% endif %}
    {% if site.footer-links.googleplus %}
        <div class="contact_info"><a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank">
            On G+: https://plus.google.com/{{ site.footer-links.googleplus }}
        </a></div>
    {% endif %}
    {% if site.footer-links.rss %}
        <div class="contact_info"><a href="{{ site.baseurl }}/atom.xml" target="_blank">
            <i class="svg-icon rss"></i> {{ site.baseurl }}/atom.xml
        </a></div>
    {% endif %}

</div>