---
layout: default
---

<div class="posts">

    <h1>Contact me</h1>

    {% if site.footer-links.email %}
    <div class="contact_info">By mail:
        <a href="mailto:{{ site.footer-links.email }}" target="_blank">
            {{ site.footer-links.email }}
        </a>
    </div>
    {% endif %}
    {% if site.footer-links.skype %}
    <div class="contact_info">By skype:
        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <div id="SkypeButton_Call_{{ site.footer-links.skype }}_1" style="display: inline-block;" class="skype_button">
            <script type="text/javascript">
                Skype.ui({
                    "name": "chat",
                    "element": "SkypeButton_Call_{{ site.footer-links.skype }}_1",
                    "participants": ["{{ site.footer-links.skype }}"],
                    "imageSize": 32
                });
            </script>
        </div>
    </div>
    {% endif %}
    {% if site.footer-links.linkedin %}
    <div class="contact_info">On LinkedIn:
        <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">
            https://www.linkedin.com/in/{{ site.footer-links.linkedin }}
        </a>
    </div>
    {% endif %}
    
    <h1>Follow me</h1>
    
    
    {% if site.footer-links.dribbble %}
        <div class="contact_info">On Dribble: 
            <a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="_blank">
            https://dribbble.com/{{ site.footer-links.dribbble }}
            </a>
        </div>
    {% endif %}
    
    {% if site.footer-links.facebook %}
        <div class="contact_info">On facebook: 
            <a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank">
            https://www.facebook.com/{{ site.footer-links.facebook }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.flickr %}
        <div class="contact_info">On Flickr: 
            <a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank">
            https://www.flickr.com/{{ site.footer-links.flickr }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.github %}
        <div class="contact_info">On GitHub: 
            <a href="https://github.com/{{ site.footer-links.github }}" target="_blank">
            https://github.com/{{ site.footer-links.github }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.instagram %}
        <div class="contact_info">On Instagram: 
            <a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank">
            https://instagram.com/{{ site.footer-links.instagram }}
            </a>
        </div>
    {% endif %}
    
    {% if site.footer-links.pinterest %}
        <div class="contact_info">On Pinterest: 
            <a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank">
            https://www.pinterest.com/{{ site.footer-links.pinterest }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.twitter %}
        <div class="contact_info">On Twitter: 
            <a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank">
            https://www.twitter.com/{{ site.footer-links.twitter }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.stackoverflow %}
        <div class="contact_info">On Stackoverflow: 
            <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank">
            http://stackoverflow.com/{{ site.footer-links.stackoverflow }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.youtube %}
        <div class="contact_info">On Youtube: 
            <a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank">
            https://youtube.com/{{ site.footer-links.youtube }}
            </a>
        </div>
    {% endif %}
    {% if site.footer-links.googleplus %}
        <div class="contact_info">On G+: 
            <a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank">
            https://plus.google.com/{{ site.footer-links.googleplus }}
            </a>
        </div>
    {% endif %}

</div>